.bill-page-main-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.cart-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    border: 2px solid black;
    overflow-y: scroll;
 
}

.filling-bill-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.search-in-cart{
    display: block;
}