.welcome-page-main-div{
margin: 0;
padding: 0;
height: 80%;
width: 80%;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background: linear-gradient(-45deg, #3b2853, #574fc4, #252b83, #19175f, #030572) ;
background-size: 400% 400%;
position: relative;
animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}

.welcome-page-card{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    border: 2px solid rgb(52, 113, 163);
    width: 500px;
    height: 300px;
    margin-left: 50px;
    border-radius: 40px;
    background-color: rgba(52, 113, 163, 0.404);
}

.welcome-page-card button{
    height: 50px; 
    width: 100px;
    margin-left: 80%;
    border-radius: 5px;
}
