<div class="product-card-div">
  <div class="product-info-div" (click)="ToogleAmountChoosingDiv()">
    <img [src]="product?.pictureUrl">
    <h4>{{product?.name}}</h4>
    <h3>{{product?.price}}$</h3>
  </div>

  <div *ngIf="toogleDiv">

    <div *ngIf="this._allusers.userRole == 'user'" class="amount-choosing-div">
      <button (click)="ToogleAmountChoosingDiv()">❌</button>
      <h4>Please choose an amount</h4>
      <input type="number" placeholder="Amount" #qty>
      <button (click)="addToCartFunc(product?._id, +qty.value)">Add To Cart</button>
    </div>

    <div *ngIf="this._allusers.userRole == 'admin'" class="">
      <button (click)="deleteProduct(product?._id)">Delete this product?</button>
    </div>
    <div *ngIf="this._allusers.userRole == 'admin'" class="">
      <button (click)="toogleEditDivFunc()">Edit</button>
    </div>
<div class="edit-product-div" *ngIf="this._allusers.userRole == 'admin' && editDivToogle"> 
<app-edit-item [product]="product"></app-edit-item>
</div>

  </div>
</div>
