.main-page-div{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #360774, #5f245c, #88365f, #a87a5a, #b8a35e) ;
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}
